.converter__about-transformation
    margin-top: 20px
    height: 300px
    width: 100%
    border: 2px solid #e7e7e7

.about__inner
    display: flex
    justify-content: space-between

.about__info
    width: 300px
    text-align: center