.view__globe
    // margin: 50px 0 0 50px
    width: 100% //remove the margin
    height: 100% //remove the popup header height + top margin
    display: flex
    justify-content: center
    align-items: center