.form__inner{
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);    
}

.form__inner input{
    width: 80%;
}

.form__discription{
    grid-column-start: 1;
    grid-column-end: 3;
}

.form__name input{
    width: 100%;
}

.form__submit{
    margin-left: 85%;
}

@media (max-width:600px) {
    .form__inner{
        display: block;
    }
    .form__inner input{
        width: 100%;
        margin-bottom: 10px;
    }
}