{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'sources/css/form.css' %}">
    {% block styles %}
    {% endblock %}
{% endblock %}

{% block content %}
<main class="form-container container">
    <form method="POST">
        {% csrf_token %}
        <div class="form__inner">
            {% block form %}
            {% endblock %}
        </div>
        <button class="form__submit" type="submit">submit</button>
    </form>
</main>
{% endblock %}
