{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags static %}

{% block title %}MapLess sources{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'sources/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sources/css/search.css' %}">
{% endblock %}

{% block content %}
<main class="container source">
    <header class="source__header">
        <h2 class="source__title title">
            Open data links data base
        </h2>
        <form id="search-form" class="search-bar">
            <input type="search" list="location-list" id="search-bar" pattern=".*\S.*"  required>
            <button class="search-btn" type="submit">
                <span>Search</span>
            </button>
        </form>
        <svg></svg>
        <datalist id="location-list">
            {% for region in locations %}
                <option value='{{region}}'>
            {% endfor %}
        </datalist>
    </header>
    <content class="source__content">
        <div class="source__new-item">
            <div class="source__new-btn">
                <a class="ui__link" href="{% url 'sources:suggest' %}">+
                    <span class="message">Add one</span>
                </a>
            </div>
        </div>
        <div class="source__list">
            {% for i in links %}
                <div class="source__item">
                    <div class="source__item-inner">
                        <h3 class="source__item-title"><a class="source__item-link ui__link" href="{{i.address}}">
                            {{i.name}}
                        </a></h3>
                        <p class="source_item-description">
                            {{i.description}}
                        </p>
                    </div>
                    <div class="source_item-region">
                        <a href="{% url 'sources:index' %}?filter={{i.region}}"><h4 class="" >{{i.region}}</h4></a> 
                    </div>
                    <nav class="source__item-control">
                        <a class="source__item-report ui__link" href="{% url 'sources:report' i.id %}">
                            <span class="message">report</span>
                            <img  class="source_report-icon" src="{% static 'sources\img\report.svg' %}" alt="" srcset="">
                        </a>
                    </nav>
                </div>
            {% endfor %}
        </div>
    </content>
    <footer class="source__footer">
        <div class="source__incoming">
            <p>Incoming...</p>
        </div>
    </footer>
</main>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script>
    document.getElementById("search-form").addEventListener("submit", function(event){
        event.preventDefault();
        // console.log(`${window.location.hostname}/sources/?filter${document.getElementById('search-bar').value}`);
        window.location.href = `../sources/?filter=${document.getElementById('search-bar').value}`
    });
</script>
{% endblock %}