{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'sources/css/style.css' %}">
{% endblock %}

{% block content %}
<main class="container source">
    <header class="source__header">
        <h2 class="source__title title">
            Open data links data base
            {% placeholder "title" %}
        </h2>
    </header>
    <content class="source__content">
        <div class="source__new-item">
            <div class="source__new-btn">
                <a class="ui__link" href="">+
                    <span class="message">Add one</span>
                </a>
            </div>
        </div>
        <div class="source__list">
            {% for i in links %}
            <div class="source__item">
                <div class="source__item-inner">
                    <h3 class="source__item-title"><a class="source__item-link ui__link" href="{{i.site_address}}">
                        {{i.site_name}}
                    </a></h3>
                    <p class="source_item-description">
                        {{i.site_discription}}
                    </p>
                </div>
                <div class="source_item-region">
                    <h4 class="">{{i.region}}</h4>
                </div>
                <nav class="source__item-control">
                    <a class="source__item-report ui__link" href="">
                        <span class="message">report</span>
                        <img  class="source_report-icon" src="{% static 'sources\img\report.svg' %}" alt="" srcset="">
                    </a>
                </nav>
            </div>
            {% endfor %}
        </div>
    </content>
    <footer class="source__footer">
        <div class="source__incoming">
            <p>Incoming...</p>
        </div>
    </footer>
</main>
{% endblock %}