{% extends 'sources/form.html' %}
{% load static %}

{%block styles%}
    <link rel="stylesheet" type="text/css" href="{% static 'sources/css/report.css' %}">
{%endblock%}

{%block form%}
    <input id="id" name="id" type="hidden" required="required" value='{{item.id}}'>
    <div class="form__discription">
        <label for='problem'>What's wrong with {{item}}</label></br>
        <textarea class="form__textarea" id="problem" type="text" name="problem"></textarea>
    </div>

{% endblock %}