{% extends 'sources/form.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sources/css/suggest.css' %}">
{%endblock%}

{%block form%}
    <div class="form__url">
        <label for='POST-link'>URL:</label></br>
        <input id="site-address" type="link" name="site-address" required="required"><br/>
    </div>
    <div class="form__name">
        <label for='site'>Site name:</label></br>
        <input  id="site-name" type="text" name="site-name" required="required"> 
    </div>
    <div class="form__description">
        <label for='site-description'>Description:</label></br>
        <textarea class="form__textarea" id="site-description" name="site-description" rows="2" maxlength="3072"></textarea>
    </div>
{% endblock %}