{% extends 'sources/form.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sources/css/suggest.css' %}">
{%endblock%}

{% block form %}
    
    <div class="form__url">
        <label for='POST-link'>URL:</label></br>
        {{ form.address }}
    </div>
    <div class="form__name">
        <label for='site'>Site name:</label></br>
        {{ form.name }}
    </div>
    <div class="form__description">
        <label for='site-description'>Description:</label></br>
        {{ form.description }}
    </div>
{% endblock %}