{% load cms_tags menu_tags sekizai_tags static %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
    <head>
        <title>{% block title %}MapLess{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'components/css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'common/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
        <style>
            .header__top {
                background-image: url("{% static 'home/img/back.webp' %}");
            }
        </style>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <header class="header">
            <div class="header__top">
                <div class="header__top-inner">

                    {% placeholder "Brand" %}
                    
                    {% placeholder "Product name" %}
                        
                    {% placeholder "Slogan" %}

                </div>
            </div>
            {% show_menu 0 100 100 100 'components/menu.html' %}
        </header>
        <section class="product">
            <div class="container">
                {% placeholder "Title" %}

                <div class="product__statictics content-container">
                    <div class="product__statistics-item">
                        <a href="#" class="product__link">
                            <img src="{% static 'home/img/transform.png' %}" alt="transformation" class="product__statostics-image">
                            <p class="product__statictics-digits">6,920 CRSs</p>
                            <p class="product__statictics-text">Transform between<br/>coordinates referance system </p>
                        </a>
                    </div>
                    <div class="product__statistics-item">
                        <a href="#" class="product__link">
                            <img src="{% static 'home/img/search.png' %}" alt="reaserch for data" class="product__statostics-image">
                            <p class="product__statictics-digits">271 sources</p>
                            <p class="product__statictics-text">
                                Find open databases <br/>
                            </p>
                        </a>
                    </div>
                </div>                
            </div>
        </section>
        
        {% placeholder "" %}
        <section class="product">
            <div class="container">

            </div>
        </section>
        {% include "components/footer.html" %}
        {% render_block "js" %}
    </body>
</html>
