{% load cms_tags menu_tags cache  %}
<nav class="menu">
    <ul class="menu__list">
        <li class="menu__list-item">
            <a href="https://toquis.com/team-1" class="menu__list-link">Toquis</a>
        </li>
        <li class="menu__list-item">
            <a href="{% url 'calculator:main' %}" class="menu__list-link">Calculator</a>
        </li>
        {% for child in children %}
            <li class="menu__list-item">
                <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="menu__list-link">
                    {{ child.get_menu_title }}
                </a>
            </li>
        {% endfor %}
        <li class="">
            <a href="https://toquis.com/contact-1" class="menu__list-link">Contact us</a>
        </li>
    </ul>
</nav>