.about__container{
    margin: 15vh 15vw;
    width: 1000px;
}
.about__dicription{
    height: 100px;
    margin-top: 30px;
    display: flex;
}
.code__title{
    font-size: 32px;
    color: rgb(51, 51, 51);
}
.code__name{
    width: 500px;
    margin-top: 14px;
    font-size: 20px;
    color: rgb(82, 82, 82);
}

.title-btns{
    width: 100px;
    height: 50px;
    margin-left: 40%;
    margin-top: 50px;
}
h4.deprecated{
    color: red;
}
.transform-btn{
    margin-top: 50px;
    border-radius: 25px;
    font-size: 14px;
    background-color: rgb(51,51,51);
    color: white;
    text-decoration: none;
    padding: 5px;
}
.container__title{
    border-bottom: 1px solid #b1b1b1;
    width: 500px;
}

.content__container{
    margin-top: 50px;
}

p{
    margin: 20px 0;
}
.caption{
    color: #585858;
    font-weight: bold;
}