.svgContainer {
    position: fixed;}
  
.sphere {
fill: #6e7a96; }
.sphere:hover {
    fill: #ababab; }

.country, .states, .provinces {
fill: #1677ff;
stroke: black;
stroke-width: 0.15px; }

.country:hover, .states:hover, .provinces:hover {
fill: rgb(0, 0, 0); }

.rect {
stroke: black;
z-index: 1; }

.graticule {
fill: none;
stroke: #3a3a3a;
stroke-width: .5px;
stroke-opacity: .5; }
