input, ::-webkit-input-placeholder{
  text-align: center;
}

.converter {
  padding: 5px;
  margin: 6vh auto;
  max-width: 1005px;
}

.field-title {
    margin: 0 auto;
    max-width: 355px;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
    border-bottom: 2px solid #e7e7e7;
    font-weight: bold;
    text-align: center;
}