{% extends 'common/index.html' %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sources/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}
<main class="sources">
    <header class="sources__header">
        <h1 class="sources__title">Open data links data base</h1>
        <nav class="sources__navigation">
            <ul class="sources__navigation-list">
                <li class="sources__navigation-item">
                    <a class="sources__btn " href="{% url 'sources:suggest' %}">Suggest</a>
                </li>
                <li class="sources__navigation-item">
                    <a class="sources__btn sources__navigation-item" href="{% url 'sources:report' %}">Report</a>
                </li>
                <li class="sources__navigation-item">
                    <a class="sources__btn" href="{% url 'sources:download' %}">Download</a>
                </li>
            </ul>
        </nav>
    </header>
    <content class="sources__content">
        <div class="sources__links-list">
            {% for i in links %}
                {% if i.is_verified or i.author == user %}
                    <div class="sources__links-item">
                        <h2>
                            <a href="{{i.site_address}}">{{i.site_name}}</a>
                            <span>{% if not i.is_verified %}(is waiting for verification){%endif%}</span>
                        </h2>
                        <p>{{i.site_discription}}</p>
                    </div>
                {%endif%}
            {% endfor %}
        </div>
    </content>
</main>
{% endblock %}