.point-converter__inner
    display: flex
    align-content: center
    justify-content: center

.point-converter__items
    display: flex
    align-content: center
    justify-content: center
    width: 70%


.point-converter__btn
    height: 50px
    margin: auto

@media (max-width: 1000px)
    .point-converter__btn
        display: none

.convert-btn
    line-height: 28px
    font-size: 24px
    margin-bottom: 8px