.point-converter__inner
    display: flex
    align-content: center
    justify-content: center

.point-converter__items
    display: flex
    align-content: center
    justify-content: center
    width: 70%


.point-converter__display-btn
    min-height: 50px
    min-width: 20px
    margin: auto

@media (max-width: 1000px)
    .point-converter__display-btn
        display: none

.point-converter__buttons-list
    margin-top: 10px 
    display: flex
    justify-content: center
    align-items: center

.point-converter__button
    border-radius: 15px

.share-btn   
    min-height: 30px
    min-width: 90px
    margin: 0 10px
    font-size: 12px

.convert-btn
    min-height: 36px
    line-height: 28px
    font-size: 24px