body {
    margin: 0px;
    overflow: hidden;
}
  
.sphere {
  fill: #adadc0;
}

.country {
  fill: rgb(74, 106, 211);
  stroke: rgb(0, 0, 0);
  stroke-width: 0.15px;
}

.country:hover {
  fill: rgba(43, 8, 199, 0.568);
}

.graticule {
  fill: none;
  stroke: rgb(58, 58, 58);
  stroke-width: .5px;
  stroke-opacity: .5;
}