.result__item 
    
    padding: 5px
    height: 97px
    margin-bottom: 5px
    list-style-type: none
    background-color: white
    border: 1px solid #d7d7d7
    border-radius: 10px
    cursor: pointer
    transition: height 0.4s

    &:hover
        box-shadow: 0 2px 7px #888888
        background-color: #f2f2f2dd
        
    &--activate
        height: 119px

        &:hover
            box-shadow: 0 2px 7px #c5c5c5
            background-color: #ffffff
    
    &:hover
        height: 120px

.result__item-title
    font-size: 16px
    margin-bottom: 5px


.result__item-description
    font-size: 14px
    margin: 0
    margin-bottom: 5px

    
.result__btn
    cursor: pointer
    border-radius: 10px
    margin: auto 5px
    &:first-of-type
        margin-left: 0px
        