.converter__settings {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media (max-width:780px) {  
    .converter__settings {
        display: block;
    }
}