<div class="about__dicription">
            <div class="title-text">
                <h1 class="code__title">{{main_title}}</h1>
                <h3 class="code__name">{{sub_title}}</h3>
                {% if is_deprecated %} 
                    <h4 class="deprecated">DEPRECATED</h4>
                {% endif %}
            </div>
            {% if is_transformable %}
                <div class="title-btns">
                    <a href=" {% url 'converter:PointConverter'%}?s_crs={{code}}" class="transform-btn">Transform</a>
                </div>
            {% endif %}
</div>