.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent
}

.popup__inner {
    position: absolute;
    margin: auto;
    background-color: #f5f5f5;
    border: none;
    border-radius: 25px;
    z-index: 10;
}