<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toquis - Mapless</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        // this script allow loading animation
      document.onreadystatechange=function(){"complete"!==document.readyState?(document.querySelector("body").style.visibility="hidden",document.querySelector("#loader").style.visibility="visible"):(document.querySelector("#loader").style.display="none",document.querySelector("body").style.visibility="visible")};
    </script>
   <script type="module" crossorigin src="/static/bundle.js"></script>
  </head>
  <body>
    <div id="loader"></div>
    <div id="root"></div>
  </body>
</html>
