<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/style.css' %}">
    
    {%block header%}
    {%endblock%}
    <title>GeoPointers</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RVR1411R70"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RVR1411R70');
    </script>
</head>
<body>
    <header class="header">
        <div  class="header__logo">
            {% load static %}
            <a href="https://toquis.com/">
                <img class="header__img" src="{% static 'common/img/logo.webp' %}" alt="toquis">
            </a>
        </div>
        <div class="header__title">
            <h1><a href="/">GeoPointers</a></h1>
        </div>
        <div class="header__search">
            <input type="text" name="subject" id="search_bar" placeholder="Search">
            <button type="button" onclick="window.location.href = window.location.href='/'+'search/?q='+document.getElementById('search_bar').value;">Search</button>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer" >
        <div class="footer__content">
            <h3 class="footer__list-title">Toquis and GeoPointers</h3>
            <ul class='footer__action-list'>
                <li class='footer__action-item'><a href="/">Bug Report</a></li>
                <li class='footer__action-item'><a href="https://toquis.com/team-1">About us</a></li>
                <li class='footer__action-item'><a href="https://toquis.com/contact-1">Contact us</a></li>
            </ul>
        </div>
        <div class="footer__copyright">
            <a href="https://toquis.com/"><p>COPYRIGHT © 2020 TOQUIS - ALL RIGHTS RESERVED</p></a>
        </div>
    </footer>
    <div id='popup'></div>
</body>
</html>