.popup__close-btn 
    position: absolute
    padding: 0
    right: 10px
    font-size: 24px
    background-color: transparent
    border: none
    outline: none
    cursor: pointer
    fill: #9e9e9e

    &:hover 
        fill: #676767
        span
            color: #676767

@media (max-width: 1024px)
    .popup__close-btn
        font-size: 14px
        top: 10px
        left: 10px
        fill: rgba(124, 124, 124, 0.7)
        span
            position: relative
            bottom: 2px
            font-family: "Gill Sans", Haettenschweiler 
            color: #a0a0a0
