.base__button 
    outline: none
    border: 3px solid hsla(0,0,0,0)
    background-color: #333
    color: #fff
    transition: .3s
    cursor: pointer
    &:hover
        background-color:  #212121
    &:active
        background-color: #5c5c5c
    &:focus
        border: 3px solid #212121
        height: calc(3px + min-height)
        width: calc(3px + min-width)


.selector__btn
    background-color: white
    color: initial
    border-radius: 15px
    min-width: 250px
    height: 20px
    cursor: pointer
    border: none
    outline: none


.selector__btn:hover 
    text-decoration: underline
