.menu{
    border-bottom: 1px solid #D0D4D8;
}

.menu__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.menu__list-link{
    font-weight: bold;
    font-size: max(1vw, 1.8vh);
    padding: 2.5vh 2vw 2vh 1.5vw;
    margin: 0 6px;
    border-bottom: 0.22em solid rgba(0, 0, 0, 0);
}

.menu__list-link:hover{
    transition: 1s;
    color:rgb(129, 129, 129);
    border-bottom: 0.22em solid #ffb624;
}

@media (max-width: 520px) {

    .menu__list-link{
        font-size: 14px;
        line-height: 16px;
    }

}