{% extends "base.html" %}
{% load sekizai_tags static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/css/main.f768be14.chunk.css' %}">
{% endblock %}

{% block content%}
    <div id='root'></div>
{% endblock %}

{% block underfooter%}
    <div id='popups'></div>
    <script src="{% static 'calculator/js/runtime-main.4537eac1.js' %}"></script>
    <script src="{% static 'calculator/js/2.a1694e3c.chunk.js' %}"></script>
    <script src="{% static 'calculator/js/main.b7275adc.chunk.js' %} "></script>
{% endblock%}