{% extends "base.html" %}
{% load sekizai_tags static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/css/main.165fc4b4.chunk.css' %}">
{% endblock %}

{% block content%}
    <div id='root' class="converter"></div>
{% endblock %}

{% block underfooter%}
    <div id='popup'></div>
    <script src="{% static 'calculator/js/runtime-main.8025d262.js' %}"></script>
    <script src="{% static 'calculator/js/2.2120628d.chunk.js' %}"></script>
    <script src="{% static 'calculator/js/main.f259655f.chunk.js' %} "></script>
{% endblock underfooter%}