.popup__inner {
    padding: 0;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
}
.popup__inner h1 {
    display: block;
    text-align: center;
}

.popup__inner input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}