.popup{
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__inner {
    padding: 0;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 5%;
}

.popup__inner input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}