.popup{
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
}

.popup__inner {
    padding: 0;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 5%;
    box-shadow: 0px -10px 120px 15px;
}

.popup__inner input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}